* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0c0c0c;
  color: #00ff00;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}
